<div class="container">
  <div class="row">
    <!-- <div class="col-md-2" style="text-align: left">
      <button mat-button routerLink="nuevo" color="primary">
        <mat-icon mat-list-icon>add</mat-icon>Nuevo
      </button>
    </div> -->
    <div class="col-md-8" style="text-align: center">
      <span>Buscar:</span>
      <mat-form-field class="">
        <input matInput [(ngModel)]="buscar" type="text" placeholder="Buscar Proyecto" (keyup)="obtenerDatos()" />
        <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="obtenerDatos()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div>
    <label for="" class="title-repo">Listado de Proyectos:</label>
  </div>
  <table class="table table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th style="width:200px">Nombre Proyecto</th>
        <th style="width:200px">Url</th>
        <th style="width:100px">Nro. de Usuarios</th>
        <th style="width:100px">Fecha de Creación</th>
        <th style="width:100px">Permiso</th>
        <th style="width:100px">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proyecto of proyectos">
        <td scope="row">
          <h4 mat-line>{{proyecto.nombre}}</h4>
        </td>
        <td>
          <p mat-line> {{proyecto.path }} </p>
        </td>
        <td>
          <p mat-line> {{proyecto.Usuarios.length }}
            <a [routerLink]="[ 'usuarios',proyecto._id ]">Usuarios</a>
          </p>
        </td>
        <td>
          <p mat-line> {{proyecto.fecha_creacion |date }} </p>
        </td>
        <td class="p-0">
          <mat-form-field class="col-12">
            <mat-select (selectionChange)="proyecto.change=true;" [(value)]="proyecto.visibilidad">
              <mat-option *ngFor="let permiso of permisosProyecto" [value]="permiso.value">
                {{ permiso.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <div class="row justify-content-center">
            <div *ngIf="proyecto.change">
              <button mat-icon-button (click)="guardar(proyecto)" color="primary">
                <mat-icon mat-list-icon>save</mat-icon>
              </button>
            </div>
            <hub-button-loading [request]="proyecto.request">
            </hub-button-loading>
            <ng-container *ngIf="usuario.admin">
              <button mat-icon-button (click)="eliminar(proyecto)" color="warn">
                <mat-icon mat-list-icon>delete</mat-icon>
              </button>
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator #paginator [length]="total" [pageIndex]="pagina" [pageSize]="limite" [pageSizeOptions]="pageSizeOptions"
    (page)="obtenerDatos($event)">
  </mat-paginator>
</div>
