<div class="container">
  <div class="row justify-content-md-center mt-2">
    <mat-card class="col-md-6 m-1">
      <mat-card-header>
        <mat-card-title class="title-repo">Sus cuentas asociadas son </mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="mt-4">
        <!-- <div *ngIf="cuentas">
          No tiene cuentas asociadas
        </div> -->
        <div class="container">
          Sus cuentas son:
          <div class="container">
            <div class="row mt-2 mb-3" *ngIf="local">
              <div class="col-1">
                <img src="assets/images/adsib.ico" width="30" heigth="30">
              </div>
              <div class="col-6">
                <strong class="align-content-center">Adsib</strong>
              </div>
              <div class="col">

              </div>
              <!-- <div class="col">
                <button mat-button color="warn" (click)="desvincular(github)">
                Desvincular
                </button>
              </div> -->
            </div>

            <div class="row" *ngIf="usuario.github">
              <div class="col-1">
                <div class="cuentas-login">
                  <i class="fa fa-github"></i>
                </div>
              </div>
              <div class="col-6">
                <strong class="">Github</strong>
              </div>
              <div class="col">
                <button mat-button color="warn" (click)="desvincular('github')">
                  Desvincular
                </button>
              </div>
            </div>
            <div class="row" *ngIf="usuario.gitlab">
              <div class="col-1">
                <div class="cuentas-login">
                  <i class="fa fa-gitlab"></i>
                </div>
              </div>
              <div class="col-6">
                <strong class="text">Gitlab</strong>
              </div>
              <div class="col">
                <button mat-button color="warn" (click)="desvincular('gitlab')">
                  Desvincular
                </button>
              </div>
            </div>
            <div class="row" *ngIf="usuario.bitbucket">
              <div class="col-1">
                <div class="cuentas-login">
                  <i class="fa fa-bitbucket"></i>
                </div>
              </div>
              <div class="col-6">
                <strong class="">Bitbucket</strong>
              </div>
              <div class="col">
                <button mat-button color="warn" (click)="desvincular('bitbucket')">
                  Desvincular
                </button>
              </div>
            </div>
          </div>

          <mat-divider></mat-divider>
          
          <h4 class="title-repo">
            Desea Adicionar Cuentas:
          </h4>

          <div class="col-md-6">
            <hub-oauth2 [config]="config"></hub-oauth2>
          </div>
        </div>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <!-- <div class="col-md-5">
          <button (click)="loginGH()" class="btn btn-block btn-social btn-github">
            <i class="fa fa-github"></i>
            <span class="nombre-repo">Entrar Con</span>
            <strong class="nombre-repo">Github</strong>
          </button>
          <button (click)="loginGL()" class="btn btn-block btn-social btn-odnoklassniki">
            <i class="fa fa-gitlab"></i>
            <span class="nombre-repo">Entrar Con</span>
            <strong class="nombre-repo">Gitlab</strong>
          </button>
          <button (click)="loginBB()" class="btn btn-block btn-social btn-bitbucket">
            <i class="fa fa-bitbucket"></i>
            <span class="nombre-repo">Entrar Con</span>
            <strong class="nombre-repo">Bitbucket</strong>
          </button>
        </div> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>