<div class="container">
  <div class="row justify-content-md-center mt-2">
    <mat-card class="col-md-6 m-1">
      <mat-card-header>
        <mat-card-title>Sus cuentas asociadas son </mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="mt-4">
        <div *ngIf="cuentas">
          No tiene cuentas asociadas
        </div>
        <div *ngIf="!cuentas" class="container">
          Sus cuentas son:
          <div class="container">
            <div class="row mt-2" *ngIf="local">
              <div class="col">
                <div class="cuentas-login">
                  <img src="assets/images/adsib.ico" width="30" heigth="30">
                  <strong class="align-content-center">Adsib</strong>
                </div>
              </div>
              <!-- <div class="col">
                <button mat-button color="warn" (click)="desvincular(github)">
                Desvincular
              </button>
              </div> -->
            </div>

            <div class="row mt-2" *ngIf="github">
              <div class="col">
                <div class="cuentas-login">
                  <i class="fa fa-github"></i>
                  <strong class="">Github</strong>

                </div>
              </div>
              <div class="col">
                <button mat-button color="warn" (click)="desvincular(github)">
                  Desvincular
                </button>
              </div>
            </div>
            <div class="row mt-2" *ngIf="gitlab">
              <div class="col">
                <div class="cuentas-login">
                  <i class="fa fa-gitlab"></i>
                  <strong class="text">Gitlab</strong>

                </div>
              </div>
              <div class="col">
                <button mat-button color="warn" (click)="desvincular(github)">
                  Desvincular
                </button>
              </div>
            </div>
            <div class="row mt-2" *ngIf="bitbucket">
              <div class="col">
                <div class="cuentas-login">
                  <i class="fa fa-bitbucket"></i>
                  <strong class="">Bitbucket</strong>

                </div>
              </div>
              <div class="col">
                <button mat-button color="warn" (click)="desvincular(github)">
                  Desvincular
                </button>
              </div>
            </div>
          </div>

          <mat-divider></mat-divider>
          Desea Adicionar Cuentas:

          <div class="col-md-6">
            <hub-oauth2 [config]="config"></hub-oauth2>
          </div>
        </div>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <!-- <div class="col-md-5">
          <button (click)="loginGH()" class="btn btn-block btn-social btn-github">
            <i class="fa fa-github"></i>
            <span class="nombre-repo">Entrar Con</span>
            <strong class="nombre-repo">Github</strong>
          </button>
          <button (click)="loginGL()" class="btn btn-block btn-social btn-odnoklassniki">
            <i class="fa fa-gitlab"></i>
            <span class="nombre-repo">Entrar Con</span>
            <strong class="nombre-repo">Gitlab</strong>
          </button>
          <button (click)="loginBB()" class="btn btn-block btn-social btn-bitbucket">
            <i class="fa fa-bitbucket"></i>
            <span class="nombre-repo">Entrar Con</span>
            <strong class="nombre-repo">Bitbucket</strong>
          </button>
        </div> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>