<hub-header></hub-header>
<div class="container">
  <hub-loading *ngIf="showData" [data]="dataLoading"></hub-loading>
  <mat-card class="m-1">
    <mat-card-content class="">
      <!-- <div class="row">
        <div class="col-12">
          <div class="text-center text-success">
            Usted no cuenta con Repositorios
          </div>
        </div>
      </div> -->
      <hub-proyectos-personales>
      </hub-proyectos-personales>
    </mat-card-content>

    <mat-card-content>
      <div class="row justify-content-between mb-3">
        <div class="col">
          <button mat-mini-fab [routerLink]="[ '/usuarios/ajustes']" [queryParams]="{ index: '1'}" color="primary">
            <mat-icon>add</mat-icon>
          </button> Adicione Repositorios de GitHub, Gitlab, Bitbucket
        </div>
        <div class="col-md-4" *ngIf="showRepo">
          <!-- <button mat-button (click)="showAll()" color="primary">
            <mat-icon mat-list-icon>visibility</mat-icon>
            Mostrar Todos
          </button>
          <button mat-button (click)="hideAll()" color="warn">
            <mat-icon mat-list-icon>visibility_off</mat-icon>
            Ocultar Todos
          </button> -->
        </div>
      </div>
      <div class="table-responsive" *ngIf="showRepo">
        <table datatable [dtOptions]="dtOptions" class="table" *ngIf="repositorios">
          <thead class="thead-inverse">
            <tr>
              <th style="width:30px">Icono</th>
              <th>Proyectos</th>
              <th style="width:30px">Fuente</th>
              <th style="width:30px">Visibilidad</th>
              <th style="width:400px">Url</th>
              <th style="width:30px">Fecha de Actualizacion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let proy of repositorios">
              <td class="icon-center" scope="row">
                <img [src]="proy.avatar |imagen:'repositorios'" alt="" height="24" width="24">
              </td>
              <td>
                <a target="#">{{proy.nombre}} </a>
              </td>
              <td class="icon-center">
                <img *ngIf="proy.tipo=='github'" src="assets/images/github.png" alt="" height="30" width="30">
                <img *ngIf="proy.tipo=='gitlab'||proy.tipo=='gitlabGeo'" src="assets/images/gitlab.png" alt="" height="30"
                  width="30">
                <img *ngIf="proy.tipo=='bitbucket'" src="assets/images/bitbucket.png" alt="" height="30" width="30">
              </td>

              <td class="row justify-content-center">
                <mat-slide-toggle class="" (change)="changeRow($event,proy)" [color]="primary" [checked]="proy.visibilidad">
                </mat-slide-toggle>
                <div *ngIf="proy.request=='start'">
                  <i class="fa fa-spinner fa-spin" style="font-size:20px;"></i>
                </div>
                <div *ngIf="proy.request=='finish'">
                  <i class="fa fa-check" style="font-size:20px;"></i>
                </div>
              </td>
              <td>
                <a target="#" [href]="proy.html_url">{{proy.html_url}} </a>
              </td>
              <td>
                {{proy.fecha_modificacion |fecha }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="showRepo">
        <div class="row">
          <h4 class="pl-3 title-repo">
            Actualizar Repositorio o Obtener Nuevo Token
          </h4>
        </div>
        <div class="row">
          <div class="col-2">
            <button (click)="login('github')" class="btn btn-block btn-social btn-github" *ngIf="usuario.github">
              <i class="fa fa-github"></i>
              <strong class="">Github</strong>
            </button>
          </div>
          <div class="col-2">
            <button (click)="login('gitlab')" class="btn btn-block btn-social btn-odnoklassniki" *ngIf="usuario.gitlab">
              <i class="fa fa-gitlab"></i>
              <strong class="">Gitlab</strong>
            </button>
          </div>
          <div class="col-2">
            <button (click)="login('bitbucket')" class="btn btn-block btn-social btn-bitbucket" *ngIf="usuario.bitbucket">
              <i class="fa fa-bitbucket"></i>
              <strong class="">Bitbucket</strong>
            </button>
          </div>
        </div>
        <!-- <div class="row justify-content-center mt-3">
          <button mat-button (click)="save()" color="primary">
            <mat-icon mat-list-icon>save</mat-icon>
            Guardar
          </button>
        </div> -->
      </div>

    </mat-card-content>
  </mat-card>
</div>