<div *ngIf='show'>
  <div class="container">
    <div class="card bg-light contenedor_usuarios mb-3">
      <div class="card-header">
        <span class="row justify-content-between">
          <div class="col-4">
            <span id="titulo_usuario" class="titulo_usuario">{{usuario.nombre}}</span>
          </div>
          <div class="col-4">
            <span>
              <i class="fa fa-cogs" aria-hidden="true"></i>
              <span class="enlaces" (click)="editarUsuario(usuario)">Editar</span>
            </span>
            <span>
              <i class="fa fa-trash" aria-hidden="true"></i>
              <span class="enlaces" (click)="eliminarUsuario(usuario)">Eliminar</span>
            </span>
          </div>

        </span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-1">
            <img alt="avatar" src="{{usuario.avatar}}" style="width: 50px !important" *ngIf="usuario.avatar">
            <img alt="avatar" src="assets/images/avatar-user.png" style="width: 50px !important" *ngIf="!usuario.avatar">
          </div>
          <div class="col-md-5">
            <div id="correo">
              <p>
                Correo: {{usuario.email}}
              </p>
            </div>
            <div id="web">
              <p> Sitio Web:
                <!-- {{web}} -->
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <p id="commit">Commits: {{commitsTotal}}</p>
            <div id="lenguajes">
              <p>Lenguajes de programacion:</p>
              <span *ngFor="let item of lenguajes">
                {{item}}
              </span>
            </div>
          </div>
          <div class="col-md-2">
            <div>
              <span>Clasificación</span>
            </div>
            <div id="clasificacion">
              <a *ngFor="let item of starList; let i=index ">
                <i *ngIf="i < usuario.clasificacion" class="fa" [ngClass]="{'fa-star':true}"></i>
                <i *ngIf="i >= usuario.clasificacion" class="fa" [ngClass]="{'fa-star-o':true}"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h4 id="titulo_proyecto" class="card-title">Proyectos</h4>
            <table class="table table-hover table-inverse table-responsive" *ngIf="usuario.tipo!='local'">
              <thead class="thead-inverse">
                <tr>
                  <th></th>
                  <th>Proyectos</th>
                  <th>Url</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let proy of usuario.datos" (click)="getUsuarios(proy,usuario.tipo)" style="cursor: pointer">
                  <td scope="row">
                    <img src="{{proy.repo.links.avatar.href}}" alt="" height="30" width="30"> </td>
                  <td>
                    <a target="#">{{proy.repo.name}} </a>
                  </td>
                  <td>
                    <a  href="{{proy.repo.links.html.href}}" target="#">{{proy.repo.links.html.href}} </a>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card" *ngIf="showUsuarios">
          <div class="card-body">
            <h4>{{proyectoSelect.repo.name}}</h4>
            <table class="table table-hover table-inverse table-responsive">
              <thead class="thead-inverse">
                <tr>
                  <th></th>
                  <th>Usuario</th>
                  <th>Url</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let value of usuarioProyecto">
                  <td scope="row">
                    <img src="{{value.avatar_url}}" alt="" height="30" width="30">
                  </td>
                  <td>{{value.name}}</td>
                  <td>
                    <a href="{{value.web_url}}" target="#">{{value.web_url}}</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <p>Primer commit: {{primerCommit}}</p>
            <p>Reciente Commit: {{UltimoCommit}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <h4>Historial de Desarrollo:</h4>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <span>Commits por proyecto</span>
            <!-- enviamos data$ para que llene el chart -->
            <chart-commits [data]="data$">
            </chart-commits>
          </div>
        </div>
        <!-- <div class="card">
          <div class="card-body">
            Gráfico de commits
          </div>

        </div> -->
        <!-- <div class="card" *ngIf="dataLenguajes$">
          <div class="card-body">
            Commits por Lenguajes
            <div>
              <chart-lenguajes [data]="dataLenguajes$">

              </chart-lenguajes>
            </div>

          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>