<div *ngIf='showUsuario'>
  <div class="container">
    <div class="card bg-light contenedor_usuarios">
      <div class="card-header">
        <div class="row justify-content-between">
          <div class="col-4">
            <span class="titulo-usuario">{{usuario.nombre |uppercase}}</span>
          </div>
          <!-- <div class="col-4">
            <span>
              <i class="fa fa-cogs" aria-hidden="true"></i>
              <span class="enlaces" (click)="editarUsuario(usuario)">Editar</span>
            </span>
            <span>
              <i class="fa fa-trash" aria-hidden="true"></i>
              <span class="enlaces" (click)="eliminarUsuario(usuario)">Eliminar</span>
            </span>
          </div> -->
          <div>
            <a *ngFor="let item of starList; let i=index ">
              <i *ngIf="i < usuario.clasificacion.valor" class="fa" [ngClass]="{'fa-star':true}"></i>
              <i *ngIf="i >= usuario.clasificacion.valor" class="fa" [ngClass]="{'fa-star-o':true}"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-1">
            <img alt="avatar" [src]="usuario.avatar |imagen:'usuario'" style="width: 50px !important">
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-5 title-description">
                <i class="fa fa-envelope"></i>
                <span class="title-description">Correo:</span>

              </div>
              <div class="col-7">
                <span class="user-property">{{usuario.email}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-5 title-description">
                <i class="fa fa-info-circle"></i>
                <span>Descripcion:</span>
              </div>
              <div class="col-7">
                <span class="user-property">{{usuario.descripcion}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-5 title-description">
                <i class="fa fa-file-code-o"></i>
                <span>Commits : </span>
              </div>
              <div class="col-7">
                <span class="user-property">{{commitsTotal}} Total</span>
                <span>
                </span>
              </div>
            </div>
            <!-- <div *ngIf="usuario.tipo!='gitlab'">
              <p>Lenguajes de programacion</p>
              <span *ngFor="let item of lenguajes">
              </span>
            </div> -->

          </div>
          <!-- <div class="col-md-2">
            <div>
              <span>Califica este usuario</span>
            </div>
            <div id="clasificacion">
              <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">
                <i *ngIf="!item" class="fa" [ngClass]="{'fa-star':true}"></i>
                <i *ngIf="item" class="fa" [ngClass]="{'fa-star-o':true}"></i>
              </a>
              <button mat-button (click)="guardarClasificacion()" [disabled]="buttonClasi" color="primary">
                <mat-icon mat-list-icon>done</mat-icon>
                Guardar
              </button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="" *ngIf="!showRepositorios">
      <div *ngIf="isPropietario">
        <h4 class="title-repo">Usted no cuenta con repositorios Adicione:</h4>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <button mat-button [routerLink]="['/usuarios/ajustes']" [queryParams]="{index: 1}" color="primary">
                <mat-icon mat-list-icon>add</mat-icon>
                Adicionar
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!isPropietario">
        <h4 class="title-repo">El usuario no cuenta con Repositorios</h4>
      </div>
    </div>
    <div class="" *ngIf="showRepositorios">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h4 class="title-repo">Repositorios</h4>
            <!-- <table class="table table-hover table-inverse table-responsive" *ngIf="usuario.tipo!='local'"> -->
            <table datatable [dtOptions]="dtOptions" class="table table-hover table-inverse table-responsive">
              <thead class="thead-inverse">
                <tr>
                  <th></th>
                  <th>Repositorios</th>
                  <th>Url</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let repo of repositorios" (click)="detalleRepositorio(repo,usuario.tipo)" style="cursor: pointer">
                  <td scope="row">
                    <img [src]="repo.avatar" alt="" height="30" width="30"> </td>
                  <td>
                    <a target="#">{{repo.nombre}} </a>
                  </td>
                  <td>
                    <a href="{{repo.html_url}}" target="#">{{repo.html_url}} </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="!showRepositorios">
              <p>No cuenta con repositorios </p>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="showUsuarios">
          <div class="card-body">
            <h4 class="title-repo">Repositorio</h4>
            <h5 class="subtitle-repo">Nombre: {{repoSelect.nombre}}</h5>
            <table class="table table-hover table-inverse table-responsive">
              <thead class="thead-inverse">
                <tr>
                  <th></th>
                  <th>Usuario</th>
                  <th>Url</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let value of usuarioRepositorio">
                  <td scope="row">
                    <img src="{{value.avatar_autor}}" alt="" height="30" width="30">
                  </td>
                  <td>{{value.autor}}</td>
                  <td>
                    <a href="{{value.web_url_autor}}" target="#">{{value.web_url_autor}}</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <h4 class="title-repo">Detalle del repositorio</h4>
            <div class="col-10">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td>
                      <mat-icon class="hub-mat-icon">code</mat-icon>Primer commit:</td>
                    <td>{{primerCommit | date:'medium'}}</td>
                  </tr>
                  <tr>
                    <td>
                      <mat-icon class="hub-mat-icon">code</mat-icon> Reciente Commit:</td>
                    <td>{{UltimoCommit | date:'medium'}}</td>
                  </tr>
                  <tr>
                    <td>
                      <mat-icon class="hub-mat-icon">code</mat-icon>Total Commit:</td>
                    <td>{{commitsRepoTotal}}</td>
                  </tr>
                  <tr>
                    <td>
                      <mat-icon class="hub-mat-icon">error_outline</mat-icon>Total Issues:</td>
                    <td>{{repoSelect.issues.total}}</td>
                  </tr>
                  <tr>
                    <td>
                      <mat-icon fontIcon="fa-code-fork" class="fa fa-lg"></mat-icon>Total forks:</td>
                    <td>{{repoSelect.forks.total}}</td>
                  </tr>
                  <tr>
                    <td>
                      <mat-icon fontIcon="fa-download" class="fa fa-lg"></mat-icon>Total Download:
                    </td>
                    <td>{{repoSelect.downloads.total}}</td>
                  </tr>
                  <tr>
                    <td>
                      <mat-icon fontIcon="fa-star-o" class="fa fa-lg"></mat-icon>Total stars:
                    </td>
                    <td>{{repoSelect.stars.total}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3" *ngIf="showRepositorios">
      <h4 class="title-repo">Commits</h4>
      <div class="row" *ngIf="showLenguajes">
        <div class="col-xl-4 col-md-12">
          <div class="card">
            <div class="card-body">
              <span class="subtitle-repo">
                Commits por Lenguajes
              </span>
              <chart-lenguajes [pieChartLabels]="pieChartLabels" [pieChartData]="pieChartData">
              </chart-lenguajes>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-md-12">
          <div class="card" *ngIf="dataRepo$">
            <div class="card-body col">
              <span class="subtitle-repo">Commits por Repositorio</span>
              <!-- <chart-codigo [data]="data$">
              </chart-codigo> -->
              <div>
                <button mat-raised-button (click)="renderGraph('repo','total',repoSelect)">General</button>
                <button mat-raised-button (click)="renderGraph('repo','year',repoSelect)">Año</button>
                <button mat-raised-button (click)="renderGraph('repo','month',repoSelect)">Mes</button>
                <line-chart class="chart-commit" [config]="config$" [data]="dataRepo$"></line-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h4 class="title-repo">Historial de Desarrollo:</h4>
      <div class="card-deck">
        <div class="card" *ngIf="data$">
          <div class="card-body">
            <span class="subtitle-repo">Commits por repositorio</span>
            <!-- <chart-código [data]="data$">
            </chart-código> -->
            <div class="">
              <button mat-raised-button (click)="renderGraph('user','total',usuario)">General</button>
              <button mat-raised-button (click)="renderGraph('user','year',usuario)">Año</button>
              <button mat-raised-button (click)="renderGraph('user','month',usuario)">Mes</button>
              <line-chart class="chart-commit" [config]="config$" [data]="data$"></line-chart>
              <heat-map [dataCalendar]="dataCalendar$"></heat-map>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
