<div *ngIf='showUsuario'>
  <div class="container">
    <div class="card bg-light contenedor_usuarios mb-3">
      <div class="card-header">
        <span class="row justify-content-between">
          <div class="col-4">
            <span class="titulo-usuario">{{usuario.nombre}}</span>
          </div>
          <!-- <div class="col-4">
            <span>
              <i class="fa fa-cogs" aria-hidden="true"></i>
              <span class="enlaces" (click)="editarUsuario(usuario)">Editar</span>
            </span>
            <span>
              <i class="fa fa-trash" aria-hidden="true"></i>
              <span class="enlaces" (click)="eliminarUsuario(usuario)">Eliminar</span>
            </span>
          </div> -->
          <div>
            <a *ngFor="let item of starList; let i=index ">
              <i *ngIf="i < usuario.clasificacion.valor" class="fa" [ngClass]="{'fa-star':true}"></i>
              <i *ngIf="i >= usuario.clasificacion.valor" class="fa" [ngClass]="{'fa-star-o':true}"></i>
            </a>
          </div>
        </span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-1">
            <img alt="avatar" src="{{usuario.avatar}}" style="width: 50px !important" *ngIf="usuario.avatar">
            <img alt="avatar" src="assets/images/avatar-user.png" style="width: 50px !important" *ngIf="!usuario.avatar">
          </div>
          <div class="col-md-5">

            <p id="correo">
              {{usuario.email}}
            </p>
          </div>
          <div class="col-md-4">
            <p id="commit">Commits: {{commitsTotal}} Total</p>
            <div *ngIf="usuario.tipo!='gitlab'">
              <p>Lenguajes de programacion</p>
              <span *ngFor="let item of lenguajes">
              </span>
            </div>

          </div>
          <div class="col-md-2">
            <div>
              <span>Califica este usuario</span>
            </div>
            <div id="clasificacion">
              <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">
                <i *ngIf="!item" class="fa" [ngClass]="{'fa-star':true}"></i>
                <i *ngIf="item" class="fa" [ngClass]="{'fa-star-o':true}"></i>
              </a>
              <button mat-button (click)="guardarClasificacion()" [disabled]="buttonClasi" color="primary">
                <mat-icon mat-list-icon>done</mat-icon>
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="card-deck">
        <div class="card">
          <div class="card-body" *ngIf="showRepositorios">
            <h4 id="titulo_repositorio" class="card-title">Repositorios</h4>
            <!-- <table class="table table-hover table-inverse table-responsive" *ngIf="usuario.tipo!='local'"> -->
            <table datatable [dtOptions]="dtOptions" class="table table-hover table-inverse table-responsive">
              <thead class="thead-inverse">
                <tr>
                  <th></th>
                  <th>Repositorios</th>
                  <th>Url</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let proy of repositorios" (click)="detalleRepositorio(proy,usuario.tipo)" style="cursor: pointer">
                  <td scope="row">
                    <img src="{{proy.avatar}}" alt="" height="30" width="30"> </td>
                  <td>
                    <a target="#">{{proy.nombre}} </a>
                  </td>
                  <td>
                    <a *ngIf="usuario.tipo=='gitlab'" href="{{proy.html_url}}" target="#">{{proy.html_url}} </a>
                    <a *ngIf="usuario.tipo=='github'" href="{{proy.html_url}}" target="#">{{proy.html_url}} </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="!showRepositorios">
              <p>No cuenta con repositorios </p>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="showUsuarios">
          <div class="card-body">
            <h4>{{repositorioSelect.nombre}}</h4>
            <table class="table table-hover table-inverse table-responsive">
              <thead class="thead-inverse">
                <tr>
                  <th></th>
                  <th>Usuario</th>
                  <th>Url</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let value of usuarioRepositorio">
                  <td scope="row">
                    <img src="{{value.avatar_url}}" alt="" height="30" width="30">
                  </td>
                  <td>{{value.name}}</td>
                  <td>
                    <a href="{{value.web_url}}" target="#">{{value.web_url}}</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <p>Primer commit: {{primerCommit | date:'medium'}}</p>
            <p>Reciente Commit: {{UltimoCommit | date:'medium'}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3" *ngIf="usuario.tipo!='local'">
      <h4>Historial de Desarrollo:</h4>
      <div class="card-deck">
        <div class="card" *ngIf="data$">
          <div class="card-body">
            <span>Commits por repositorio</span>
            <chart-codigo [data]="data$">
            </chart-codigo>
          </div>
        </div>

        <!-- <div class="card">
          <div class="card-body">
            Gráfico de commits
          </div>

        </div> -->

        <div class="card" *ngIf="showLenguajes">
          <div class="card-body">
            Commits por Lenguajes
            <div>
              <chart-lenguajes [pieChartLabels]="pieChartLabels" [pieChartData]="pieChartData">

              </chart-lenguajes>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>