<div class="container">
  <div class="row justify-content-md-center m-1">
    <div class="card bg-light col-md-6 col-sm-12" style="padding: 0;">
      <div class="card-header">Crear Nuevo Proyecto
      </div>
      <div class="card-body" *ngIf="repositorios">
        <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="usuario.tipo=='local'">
          <fieldset>
            <legend></legend>
            {{usuario.tipo}}
            <div class="form-group">
              <label class="col-form-label required">Nombre de Proyecto</label>
              <br>
              <mat-form-field class="col">
                <input matInput placeholder="" formControlName="nombre">
              </mat-form-field>
              <p>
                Este nombre debe ser único en todos los proyectos
              </p>
            </div>

            <div class="form-group">
              <label class="col-form-label ">Dirección del proyecto</label>
              <br>
              <mat-form-field class="col">
                <input matInput placeholder="" formControlName="urlRepositorio">
              </mat-form-field>
              <p>
                Este debe contener el path del proyecto Addicionar
              </p>
            </div>
            <div class="form-group">
              <label class="col-form-label ">Descripcion</label>
              <br>
              <mat-form-field class="col">
                <textarea matInput placeholder="" formControlName="descripcion"></textarea>
              </mat-form-field>
              <p>
                Detalle una descripción del proyecto centrado en las caracteristicas
                <br> Máximo 800 caracteres
              </p>
            </div>
          </fieldset>
          <button mat-button [disabled]="!userForm.valid" type="submit" color="primary">
            <mat-icon mat-list-icon>done</mat-icon>
            Guardar
          </button>
          <button mat-button routerLink="/proyectos" color="warn">
            <mat-icon mat-list-icon>cancel</mat-icon>
            Cancelar
          </button>
        </form>
        <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="usuario.tipo=='gitlab'">
          <fieldset>
            <div class="form-group">
              <label class="col-form-label ">Nombre de Proyecto</label>
              <br>
              <mat-form-field class="col">
                <mat-select placeholder="Selecione uno de sus repositorios" formControlName="nombre">
                  <mat-option *ngFor="let data of repositorios.datos" [value]="data">
                    {{ data.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <p>
                Selecione un proyecto de su repositorio
              </p>
            </div>
            <div class="form-group">
              <label class="col-form-label ">Descripcion</label>
              <br>
              <mat-form-field class="col">
                <textarea matInput placeholder="" formControlName="descripcion"></textarea>
              </mat-form-field>
              <p>
                Detalle una descripción del proyecto centrado en las caracteristicas
                <br> Máximo 800 caracteres
              </p>
            </div>
          </fieldset>
          <button mat-button [disabled]="!userForm.valid" type="submit" color="primary">
            <mat-icon mat-list-icon>done</mat-icon>
            Guardar
          </button>
          <button mat-button routerLink="/proyectos" color="warn">
            <mat-icon mat-list-icon>cancel</mat-icon>
            Cancelar
          </button>
        </form>
        <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="usuario.tipo=='github'">
          <fieldset>
            <div class="form-group">
              <label class="col-form-label ">Nombre de Proyecto</label>
              <br>
              <mat-form-field class="col">
                <mat-select placeholder="Selecione uno de sus repositorios" formControlName="nombre">
                  <mat-option *ngFor="let data of repositorios.datos" [value]="data">
                    {{ data.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <p>
                Selecione un proyecto de su repositorio
              </p>
            </div>
            <div class="form-group">
              <label class="col-form-label ">Descripcion</label>
              <br>
              <mat-form-field class="col">
                <textarea matInput placeholder="" formControlName="descripcion"></textarea>
              </mat-form-field>
              <p>
                Detalle una descripción del proyecto centrado en las caracteristicas
                <br> Máximo 800 caracteres
              </p>
            </div>
          </fieldset>

          <button mat-button [disabled]="!userForm.valid" type="submit" color="primary">
            <mat-icon mat-list-icon>done</mat-icon>
            Guardar
          </button>
          <button mat-button routerLink="/proyectos" color="warn">
            <mat-icon mat-list-icon>cancel</mat-icon>
            Cancelar
          </button>
        </form>
        <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="usuario.tipo=='bitbucket'">
          <fieldset>
            <div class="form-group">
              <label class="col-form-label ">Nombre de Proyecto</label>
              <br>
              <mat-form-field class="col">
                <mat-select placeholder="Selecione uno de sus repositorios" formControlName="nombre">
                  <mat-option *ngFor="let data of repositorios.datos" [value]="data">
                    {{ data.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <p>
                Selecione un proyecto de su repositorio
              </p>
            </div>
            <div class="form-group">
              <label class="col-form-label ">Descripcion</label>
              <br>
              <mat-form-field class="col">
                <textarea matInput placeholder="" formControlName="descripcion"></textarea>
              </mat-form-field>
              <p>
                Detalle una descripción del proyecto centrado en las caracteristicas
                <br> Máximo 800 caracteres
              </p>
            </div>
          </fieldset>
          <button mat-button [disabled]="!userForm.valid" type="submit" color="primary">
            <mat-icon mat-list-icon>done</mat-icon>
            Guardar
          </button>
          <button mat-button routerLink="/proyectos" color="warn">
            <mat-icon mat-list-icon>cancel</mat-icon>
            Cancelar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>