<div class="container">
    <div class="row">
        <!-- <h3>Usuarios</h3> -->
        <div class="col-md-8" style="text-align: center">
            <span>Buscar:</span>
            <mat-form-field class="">
                <input matInput [(ngModel)]="buscar" type="text" placeholder="Buscar Personas" (keyup)="obtenerDatos()" />
                <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="obtenerDatos()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <!-- <div class="col-md-4" style="text-align: right">
          <button mat-button (click)="adicionarUsuario()" color="primary">
              <mat-icon mat-list-icon>add</mat-icon>adicionar
          </button>
      </div> -->
    </div>


    <div class="card bg-light contenedor_usuarios" *ngFor="let usuario of usuarios">
        <div class="card-header">
            <div class="row justify-content-between">
                <div class="col-5">
                    <span class="titulo_usuario" (click)="irUsuario(usuario)">{{usuario.nombre}}</span>
                </div>
                <div class="col-1">
                    <button [ngClass]="{btn:true,'btn-social-icon':true,
                        'btn-github':usuario.tipo==='github',
                        'btn-gitlab':usuario.tipo==='gitlab',
                        'btn-bitbucket':usuario.tipo==='bitbucket',
                        'btn-local':usuario.tipo==='local',
                        'btn-sm':true
                    }">
                        <i [ngClass]="{ fa:true,
                            'fa-github':usuario.tipo==='github',
                            'fa-gitlab':usuario.tipo==='gitlab',
                            'fa-bitbucket':usuario.tipo==='bitbucket',
                            'fa-local':usuario.tipo==='local'
                        }"> </i>
                    </button>
                </div>
            </div>


        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-1">
                    <!-- <img alt="avatar" src="assets/images/avatar-user.png" style="width: 50px !important"> -->
                    <img src="{{usuario.avatar}}" style="width: 50px !important">
                </div>
                <div class="col-md-5">
                    <div>
                        <span>Correo : </span>
                        <span>{{usuario.email}}</span>
                    </div>
                    <div>
                        <span>Descripcion del Usuario : </span>
                        <span>{{usuario.descripcion}}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <span>Commits : </span>
                        <span>{{usuario.commits}} commits</span>
                    </div>
                    <div *ngIf="usuario.tipo!='gitlab'">
                        <p>Lenguajes de programacion</p>
                        <span *ngFor="let lenguajes of usuario.lenguajes">
                            {{lenguajes}},
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <span>Clasificación</span>
                    </div>
                    <div>
                        <a *ngFor="let item of starList; let i=index ">
                            <i *ngIf="i < usuario.clasificacion.valor" class="fa" [ngClass]="{'fa-star':true}"></i>
                            <i *ngIf="i >= usuario.clasificacion.valor" class="fa" [ngClass]="{'fa-star-o':true}"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <mat-paginator #paginator [length]="total" [pageIndex]="pagina" [pageSize]="limite" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = obtenerDatos($event)">
        </mat-paginator>
    </div>
</div>