.titulo_usuario {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #3f51b5;
}

.contenedor_usuarios {
  margin-bottom: 15px;
}
/* .btn-social-icon {
  color: white;
} */
.title-description {
  font-size: 14px;
  font-weight: bold;
  color: #3b1c1f;
}
.user-property {
  font-size: 14px;
}
