<nav class="navbar navbar-expand-lg navbar-dark nav-hub">
  <div class="container-fluid">
    <button mat-button class="navbar-brand nav-title">CATALOGO SOFTWARE LIBRE</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let link of navLinks" routerLinkActive="active">
          <a class="nav-link" [routerLink]="link.path">{{link.label}}</a>
        </li>
        
      </ul>
      <span *ngIf="usuario">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="btn-group" *ngIf="badgeCount>0">
              <button mat-icon-button [matMenuTriggerFor]="notifyMenu">
                <mat-icon class="icon-notify">notifications</mat-icon>
                <span class="badge" *ngIf="badgeCount > 0">{{badgeCount}}</span>
              </button>
              <mat-menu #notifyMenu="matMenu" [overlapTrigger]="false">
                <div *ngFor="let badge of badges">
                  <button mat-menu-item class="button-menu" (click)="resolveBadge(badge)" *ngIf="usuario.estado">
                    <!-- <mat-icon>account_circle</mat-icon> -->
                    <span>{{badge}}</span>
                  </button>
                </div>
              </mat-menu>
            </div>
            <div class="btn-group">
              <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                  <img *ngIf="usuario.avatar" style="width: 15px !important" class="avatar" [src]="usuario.avatar | imagen:'usuario'">
                  <img *ngIf="!usuario.avatar" class="avatar" src="assets/images/avatar-user.png">
                  <span class="username mr-12" fxHide fxShow.gt-sm>{{usuario.nombre}}</span>
                </div>
              </button>
              <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item class="button-menu" (click)="setUsuario()" *ngIf="usuario.estado">
                  <mat-icon>account_circle</mat-icon>
                  <span>Mi Perfil</span>
                </button>
                <button mat-menu-item class="button-menu" [routerLink]="['/usuarios/ajustes']">
                  <mat-icon>settings</mat-icon>
                  <span>Ajustes</span>
                </button>
                <button mat-menu-item class="button-menu" (click)="logout()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Salir</span>
                </button>
              </mat-menu>
            </div>
          </li>
        </ul>
      </span>
      <span *ngIf="!usuario">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="nav-link" [routerLink]="['/auth/login']">Acceder</a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/auth/registro']">Regístrate</a>
          </li>
        </ul>
      </span>

    </div>
  </div>
</nav>
