<nav class="navbar navbar-expand-lg navbar-dark nav-hub">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/inicio']">CATALOGO SOFTWARE LIBRE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let link of navLinks" routerLinkActive="active">
          <a class="nav-link" [routerLink]="link.path">{{link.label}}</a>
        </li>
      </ul>
      {{usuario.nombre}}
      <span *ngIf="usuario">
        <ul class="nav navbar-nav navbar-right">
          <li>
            
            <div class="btn-group">
              <button class="btn btn-dark dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img *ngIf="usuario.avatar" alt="avatar" style="width: 15px !important" [src]="urlAvatar"> {{usuario.login}}
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                <a class="dropdown-item" routerLink="/usuarios/{{usuario._id}}">Perfil</a>
                <a class="dropdown-item" routerLink="/usuarios/ajustes/{{usuario._id}}">Ajustes</a>
                <div class="dropdown-divider"></div>
                <!-- <div *ngIf="usuario.tipo=='gitlab'">
                  <a class="dropdown-item" (click)="logout()" data-method="delete" href="https://gitlab.geo.gob.bo/users/sign_out" target="_blank">Cerrar Sesion</a>
                </div>
                <div *ngIf="usuario.tipo=='github'">
                  <a class="dropdown-item" (click)="logout()" href="https://github.com/logout" target="_blank">Cerrar Sesion</a>
                </div> -->
                <!-- <div *ngIf="usuario.tipo=='local'">
                  <a class="dropdown-item" (click)="logout()" target="_blank">Cerrar Sesion</a>
                </div> -->
                <a class="dropdown-item" (click)="logout()">Cerrar Sesion</a>
              </div>
            </div>
          </li>
        </ul>
      </span>
      <span *ngIf="!usuario">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="nav-link" [routerLink]="['/login']">Acceder</a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/registro']">Regístrate</a>
          </li>
        </ul>
      </span>

    </div>
  </div>
</nav>