<fieldset *ngIf="entidades">
  <label class="form-label">Entidades Publicas</label>

  <div class="form-group">
    <mat-form-field class="col">
      <textarea matInput matTextareaAutosize minRows=1 placeholder="Objetivo y alcance del proyecto" [(ngModel)]="data.alcances"></textarea>
      <mat-hint>
        Objetivo y alcance del proyecto
      </mat-hint>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="col">
      <textarea matInput matTextareaAutosize minRows=1 placeholder="Reglas para el desarrollo" [(ngModel)]="data.reglasDesarrollo"></textarea>
      <mat-hint>
        Reglas para el desarrollo
      </mat-hint>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="col">
      <textarea matInput matTextareaAutosize minRows=1 placeholder="Reglas para la contribución" [(ngModel)]="data.reglasContribucion"></textarea>
      <mat-hint>
        Reglas para la contribución
      </mat-hint>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="col">
      <textarea matInput matTextareaAutosize minRows=1 placeholder="Listado de funcionalidades" [(ngModel)]="data.funcionalidades"></textarea>
      <mat-hint>
        Listado de funcionalidades
      </mat-hint>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="col">
      <textarea matInput matTextareaAutosize minRows=1 placeholder="Herramientas de comunicación" [(ngModel)]="data.comunicacion"></textarea>
      <mat-hint>
        Herramientas de comunicación (listas de correo, email, chat, etc)
      </mat-hint>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="col">
      <textarea matInput matTextareaAutosize minRows=1 placeholder="Canales de reporte de errores" [(ngModel)]="data.errores"></textarea>
      <mat-hint>
        Canales de reporte de errores
      </mat-hint>
    </mat-form-field>
  </div>

</fieldset>

<fieldset *ngIf="avanzadas">
  <label class="form-label">Avanzadas</label>

  <div class="form-group">
    <mat-form-field class="col">
      <textarea matInput matTextareaAutosize minRows=1 placeholder="Sistemas Operativos" [(ngModel)]="data.sistemasOperativos"></textarea>
      <mat-hint>
        Sistemas Operativos compatibles con el proyecto
      </mat-hint>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="col">
      <textarea matInput matTextareaAutosize minRows=1 placeholder="Lenguajes de programación" [(ngModel)]="data.lenguajes"></textarea>
      <mat-hint>
        Lenguajes de programación usados en el proyecto
      </mat-hint>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="col">
      <textarea matInput matTextareaAutosize minRows=1 placeholder="Base de Datos" [(ngModel)]="data.baseDatos"></textarea>
      <mat-hint>
        Mencione el motor de base de datos en el proyecto
      </mat-hint>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="col">
      <textarea matInput matTextareaAutosize minRows=1 placeholder="Detalle de Dependencias" [(ngModel)]="data.dependencias"></textarea>
      <mat-hint>
        Detalle las de Dependencias del proyecto
      </mat-hint>
    </mat-form-field>
  </div>
</fieldset>
