<div class="container">
  <div class="row" *ngIf="data.title">
    <h4 class="title-loading">{{data.title}}</h4>
  </div>
  <div class="row justify-content-md-center mb-2">
    <h4 class="content-loading">{{data.content}}</h4>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-auto ">
      <i class="fa fa-spinner fa-spin" style="font-size:35px; margin-top: 5px"></i>
    </div>
    <div class="col-md-auto">
      <img src="assets/images/adsib.png" alt="adsib">
    </div>
  </div>
</div>
