<div class="container" *ngIf="proyecto">
  <div class="row">
    <div class="col-12" style="text-align: center">
      <mat-list-item>
        <h4 class="title-repo" mat-line>
          {{proyecto.nombre}}
        </h4>
        <p mat-line>
          {{proyecto.path}}
        </p>
      </mat-list-item>
    </div>
    <div>
      <label for="" class="title-repo">Nuevo</label>
    </div>
    <hub-input-usuario class="col-12" (emitUser)="addUser($event)">

    </hub-input-usuario>

    <div class="col-md-8 col-lg-12" style="text-align: end">
      <span>Buscar:</span>
      <mat-form-field class="">
        <input matInput [(ngModel)]="buscar" type="text" placeholder="Buscar Personas" (keyup)="obtenerDatos()" />
        <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="obtenerDatos()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div>
    <label for="" class="title-repo">Listado de Usuaros por Proyecto:</label>
  </div>
  <br>
  <div class="row" *ngIf="proyecto">
    <table class="table table-responsive">
      <thead class="thead-inverse">
        <tr>
          <th style="width:250px">Usuario</th>
          <th style="width:150px">Username</th>
          <th style="width:150px">Correo</th>
          <th style="width:150px">Permisos</th>
          <th style="width:120px">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of proyecto.Usuarios">
          <td scope="row">
            <h4 mat-line>{{usuario.nombre}}</h4>
            <p>
              {{usuario.descripcion}}
            </p>
          </td>
          <td>
            <p mat-line> {{usuario.login }} </p>
          </td>
          <td>
            <p mat-line> {{usuario.email }} </p>
          </td>
          <td class="p-0">
            <mat-form-field class="col-12">
              <mat-select (selectionChange)="usuario.change=true;" [(value)]="usuario.UsuarioProyecto.access_level">
                <mat-option *ngFor="let permiso of permisosUsuario" [value]="permiso.access">
                  {{ permiso.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <div class="row justify-content-center">
              <div *ngIf="usuario.change">
                <button mat-icon-button (click)="guardar(usuario)" color="primary">
                  <mat-icon mat-list-icon>save</mat-icon>
                </button>
              </div>
              <hub-button-loading [request]="usuario.request">
              </hub-button-loading>
              <button mat-icon-button (click)="eliminar(usuario)" color="warn">
                <mat-icon mat-list-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <mat-paginator #paginator [length]="total" [pageIndex]="pagina" [pageSize]="limite" [pageSizeOptions]="pageSizeOptions"
    (page)="obtenerDatos($event)">
  </mat-paginator>
</div>
