<div class="container">
  <div class="row">
    <div class="col-md-8" style="text-align: center">
      <span>Buscar:</span>
      <mat-form-field class="">
        <input matInput [(ngModel)]="buscar" type="text" placeholder="Buscar Personas" (keyup.enter)="obtenerDatos()" />
        <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="obtenerDatos()">
          <mat-icon>search</mat-icon>
        </button>
das      </mat-form-field>
    </div>
  </div>
  <div>
    <label for="" class="title-repo">Listado de Usuarios:</label>
  </div>
  <table class="table table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th style="width:150px">Usuario</th>
        <th style="width:100px">Username</th>
        <th>Grupos</th>
        <th>Admin</th>
        <th style="width:100px">Correo</th>
        <th style="width:150px">Fecha de Creación</th>
        <th style="width:120px">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td scope="row">
          <h4 mat-line>{{usuario.nombre}}</h4>
        </td>
        <td>
          <p mat-line> {{usuario.login }} </p>
        </td>
        <td>
          <div class="row" *ngFor="let grupo of usuario.Grupos">
            <p mat-line> {{grupo.path }} </p>
            <button class="text-left" mat-icon-button (click)="salirGrupo(usuario,grupo)" color="warn" style="margin-top: -10px"
              matTooltip="Salir del grupo">
              <mat-icon mat-list-icon>exit_to_app</mat-icon>
            </button>
            <hub-button-loading [request]="grupo.request">
            </hub-button-loading>
          </div>
        </td>
        <td>
          <div *ngIf="usuario.admin_grupo && !usuario.admin">
            <mat-chip-list>
              <mat-chip color="primary" selected="true">Grupo</mat-chip>
            </mat-chip-list>
          </div>
          <div *ngIf="usuario.admin">
            <mat-chip-list>
              <mat-chip style="background-color:#3B1C1F" selected="true">Adsib </mat-chip>
            </mat-chip-list>
          </div>
        </td>
        <td>
          <p mat-line> {{usuario.email }} </p>
        </td>
        <td>
          <p mat-line> {{usuario.fecha_creacion |date }} </p>
        </td>
        <td class="p-0">
          <ng-container *ngIf="usuario.estado=='habilitado'">
            <button mat-icon-button (click)="bloqueadoUsuario(usuario)" color="warn">
              <mat-icon mat-list-icon>block</mat-icon>
              bloquear
            </button>
          </ng-container>
          <ng-container *ngIf="usuario.estado!=='habilitado'">
            <button mat-icon-button (click)="desbloquearUsuario(usuario)" color="primary">
              <mat-icon mat-list-icon>check</mat-icon>
              desbloquear
            </button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator #paginator [length]="total" [pageIndex]="pagina" [pageSize]="limite" [pageSizeOptions]="pageSizeOptions"
    (page)="obtenerDatos($event)">
  </mat-paginator>
</div>
