<div class="container">
  <div class="row">
    <div class="col-md-8" style="text-align: center">
      <span>Buscar:</span>
      <mat-form-field class="">
        <input matInput [(ngModel)]="buscar" type="text" placeholder="Buscar Personas" (keyup)="obtenerDatos()" />
        <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="obtenerDatos()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div>
    <label for="" class="title-repo">Listado de Usuarios:</label>
  </div>
  <table class="table table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th style="width:150px">Usuario</th>
        <th style="width:100px">Username</th>
        <th style="width:100px">Correo</th>
        <th style="width:80px">Fecha de Creación</th>
        <th style="width:120px">Administración de grupo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td scope="row">
          <h4 mat-line>{{usuario.nombre}}</h4>
        </td>
        <td>
          <p mat-line> {{usuario.login }} </p>
        </td>
        <td>
          <p mat-line> {{usuario.email }} </p>
        </td>
        <td>
          <p mat-line> {{usuario.fecha_creacion |date }} </p>
        </td>
        <td>
          <button mat-icon-button (click)="eliminar(usuario)" color="warn">
            <mat-icon mat-list-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator #paginator [length]="total" [pageIndex]="pagina" [pageSize]="limite" [pageSizeOptions]="pageSizeOptions"
    (page)="obtenerDatos($event)">
  </mat-paginator>
</div>
