<div class="container">
  <div class="row">
    <div class="col-md-8" style="text-align: center">
      <span>Buscar:</span>
      <mat-form-field class="">
        <input matInput [(ngModel)]="buscar" type="text" placeholder="Buscar Personas" (keyup)="obtenerDatos()" />
        <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="obtenerDatos()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <table class="table table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th style="width:250px">Usuario</th>
        <th style="width:150px">Username</th>
        <th style="width:150px">Fecha de Creación</th>
        <th style="width:120px">Administración de grupo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td scope="row">
          <h4 mat-line>{{usuario.nombre}}</h4>
        </td>
        <td>
          <p mat-line> {{usuario.login }} </p>
        </td>
        <td>
          <p mat-line> {{usuario.fecha_creacion |date }} </p>
        </td>
        <td>
          <div class="row justify-content-center">
            <mat-slide-toggle class="" (change)="setAdmin($event,usuario)" [color]="primary" [checked]="usuario.admin_group">
            </mat-slide-toggle>
            <div *ngIf="usuario.request=='start'">
              <i class="fa fa-spinner fa-spin" style="font-size:20px;"></i>
            </div>
            <div *ngIf="usuario.request=='finish'">
              <i class="fa fa-check" style="font-size:20px;"></i>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator #paginator [length]="total" [pageIndex]="pagina" [pageSize]="limite" [pageSizeOptions]="pageSizeOptions"
    (page)="obtenerDatos($event)">
  </mat-paginator>
</div>
