<div class="container">
  <div class="row">
    <div class="col-md-8" style="text-align: center">
      <span>Buscar:</span>
      <mat-form-field class="">
        <input matInput [(ngModel)]="buscar" type="text" placeholder="Buscar Personas" (keyup)="obtenerDatos()" />
        <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="obtenerDatos()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <table class="table table-responsive-sm">
      <thead class="thead-inverse">
        <tr>
          <th style="width:250px">Usuario</th>
          <th style="width:150px">Username</th>
          <th style="width:150px">Email</th>
          <th style="width:150px">Institucion</th>
          <th style="width:150px">Estado</th>
          <th style="width:150px">Fecha de creación</th>
          <th style="width:120px">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solicitud of solicitudes">
          <td scope="row">
            <p>
              {{solicitud.Usuario.nombre}}
            </p>
          </td>
          <td>
            <p mat-line> {{solicitud.Usuario.login }} </p>
          </td>
          <td>
            <p mat-line> {{solicitud.Usuario.email }} </p>
          </td>
          <td>
            <p mat-line> {{solicitud.institucion }} </p>
          </td>
          <td>
            <p mat-line> {{solicitud.estado }} </p>
          </td>
          <td>
            <p mat-line> {{solicitud.fecha_creacion |date}} </p>
          </td>
          <td>
            <div class="row justify-content-center">
<mat-slide-toggle class="" (change)="setAdmin($event,solicitud)" [color]="primary" [checked]="solicitud.estado=='aprobado'">
              </mat-slide-toggle>
              <hub-button-loading style="margin-top: -8px" [request]="solicitud.request">
              </hub-button-loading>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <mat-paginator #paginator [length]="total" [pageIndex]="pagina" [pageSize]="limite" [pageSizeOptions]="pageSizeOptions"
    (page)="obtenerDatos($event)">
  </mat-paginator>
</div>
