<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(54, 22, 24); margin-bottom: 50px">
  <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/inicio']">CATALOGO SOFTWARE LIBRE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li>
          <a class="nav-link" [routerLink]="['/auth/login']">Acceder</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/auth/registro']">Regístrate</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
<div class="container">
  <div class="row justify-content-md-center m-1">
    <div class="card-reset card bg-light col-md-6 col-sm-12" style="padding: 0;">
      <div class="card-header card-header-reset">
        <div class="row justify-content-center">
          <span class="titulo-reset">Recuperar Contraseña</span>
        </div>
      </div>
      <div class="card-body card-body-reset">
          <fieldset>
            <div class="form-group row justify-content-center">
              <div [formGroup]="passFormGroup">
                <div class="form-group">
                  <mat-form-field class="col">
                    <input matInput type="password" placeholder="Contraseña" formControlName="password">
                    <mat-error>
                      Introdusca su contraseña
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- <div class="form-group">
                  <mat-form-field class="col">
                    <input matInput type="password" placeholder="Verifique Contraseña" formControlName="confirmarPassword" [errorStateMatcher]="confirmValidParentMatcher">
                    <mat-error>
                      {{errors.confirmarPassword}}
                    </mat-error>
                  </mat-form-field>
                </div> -->
              </div>
            </div>
          </fieldset>

          <div class="row justify-content-center">
            <button mat-raised-button (click)="guardar()" [disabled]="!passFormGroup.valid" color="primary" type="button"  color="primary">
              Guardar
            </button>
          </div>
      </div>
      <div class="row justify-content-center">
        <a [routerLink]="[ '/auth/login']">Iniciar Sesión</a>
      </div>
    </div>
  </div>
</div>
