<div class="container">
  <div class="row">
    <div class="col-md-8" style="text-align: center">
      <span>Buscar:</span>
      <mat-form-field class="">
        <input matInput [(ngModel)]="buscar" type="text" placeholder="Buscar Personas" (keyup)="obtenerDatos()" />
        <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="obtenerDatos()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div>
    <h4>Lista de Solicitudes de los Usuarios</h4>
  </div>
  <div class="row">
    <table class="table table-responsive-sm">
      <thead class="thead-inverse">
        <tr>
          <th style="width:200px">Usuario</th>
          <th>Descripción</th>
          <th>Path</th>
          <th>Institución</th>
          <th style="width:120px">Estado</th>
          <th style="width:120px">Fecha de creación</th>
          <th style="width:80px">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solicitud of solicitudes">
          <td scope="row">
            <div class="title-nombre">
              {{solicitud.Usuario.nombre}}
            </div>
            <div>
              {{solicitud.Usuario.email }} <br>
              {{solicitud.Usuario.login }}
            </div>
          </td>
          <td>
            <p mat-line> {{solicitud.descripcion }} </p>
          </td>
          <td>
            <p mat-line>https://localhost/{{solicitud.path }} </p>
          </td>
          <td>
            <p mat-line> {{solicitud.institucion }} </p>
          </td>
          <td>
            <mat-chip-list>
              <div *ngIf="solicitud.estado=='solicitado'">
                <mat-chip color="accent" selected="true">{{solicitud.estado }} </mat-chip>
              </div>
              <div *ngIf="solicitud.estado=='aprobado'">
                <mat-chip color="primary" selected="true">{{solicitud.estado }} </mat-chip>
              </div>
            </mat-chip-list>
          </td>
          <td>
            <p mat-line> {{solicitud.fecha_creacion |date}} </p>
          </td>
          <td>
            <div class="row justify-content-center">
              <ng-container *ngIf="solicitud.estado!='aprobado'">
                <button mat-button (click)="setAdmin(solicitud)" color="primary">
                  Aprobar
                </button>
                <hub-button-loading style="margin-top: -8px" [request]="solicitud.request">
                </hub-button-loading>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <mat-paginator #paginator [length]="total" [pageIndex]="pagina" [pageSize]="limite" [pageSizeOptions]="pageSizeOptions"
    (page)="obtenerDatos($event)">
  </mat-paginator>
</div>
