<div class="container">
  <div class="row justify-content-md-center mt-2">
    <span>Se dara de baja al Usuario y todas sus cuentas enlazadas</span>
  </div>
  <div class="row justify-content-md-center mt-2">
    <span>Podra recuperar su cuenta volviendo a ingresar con su correo electronico</span>
  </div>
  <div class="row justify-content-md-center mt-2">
    <button mat-button (click)="eliminarUsuario(usuario)" color="warn">
      <mat-icon mat-list-icon>delete</mat-icon>
      Eliminar
    </button>
  </div>
</div>