<!-- <hub-header></hub-header> -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(54, 22, 24); margin-bottom: 50px">
  <div class="container-fluid">
    <p class="navbar-brand">CATALOGO SOFTWARE LIBRE</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li>
          <a class="nav-link" [routerLink]="['/auth/login']">Acceder</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/auth/registro']">Regístrate</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row justify-content-md-center m-1">
    <div class="card-login card bg-light col-md-6 col-sm-12" style="padding: 0;">
      <div class="card-header card-header-login">
        <div class="row justify-content-center">
          <span class="titulo-login">Registrar Usuario</span>
        </div>
      </div>
      <div class="card-body card-body-login">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <!-- <div class="col pb-3">
                    <a href="#" class="btn btn-block btn-social btn-github"><i class="fa fa-github"></i> Entrar Con <strong>Github</strong></a>
                    <a href="#" class="btn btn-block btn-social btn-odnoklassniki"><i class="fa fa-gitlab"></i>Entrar Con <strong>Gitlab</strong></a>
                    <a href="#" class="btn btn-block btn-social btn-bitbucket"><i class="fa fa-bitbucket"></i>Entrar Con <strong>Bitbucket</strong></a>
                </div> -->
        <form novalidate [formGroup]="registroFormGroup" (ngSubmit)="onSubmit()" autocomplete="nope">
          <fieldset>
            <div class="form-group">
              <mat-form-field class="col">
                <input matInput placeholder="Nombre Completo" formControlName="nombre">
                <mat-error>
                  Ingrese Su Nombre Completo
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group" (click)="gitlab">
              <mat-form-field class="col">
                <input id="username" matInput placeholder="Username" formControlName="username" type="text"
                  autocomplete="new-password">
                <mat-error>
                  Ingrese Su Username
                </mat-error>
              </mat-form-field>
            </div>
            <div [formGroup]="emailFromGroup">
              <div class="form-group">
                <mat-form-field class="col">
                  <input matInput placeholder="Correo Electronico" formControlName="email">
                  <mat-error *ngIf="emailFromGroup.controls['email'].hasError('email') && !emailFromGroup.controls['email'].hasError('required')">
                    Ingrese un email valido
                  </mat-error>
                  <mat-error>
                    {{errors.email}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="col">
                  <input matInput placeholder="Verifique Correo Electronico" formControlName="confirmarEmail"
                    [errorStateMatcher]="confirmValidParentMatcher" autocomplete="off">
                  <mat-error>
                    {{errors.confirmarEmail}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div [formGroup]="passFormGroup">
              <div class="form-group">
                <mat-form-field class="col">
                  <input matInput type="password" placeholder="Contraseña" formControlName="password" autocomplete="off">
                  <mat-error>
                    {{errors.password}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="col">
                  <input matInput type="password" placeholder="Verifique Contraseña" formControlName="confirmarPassword"
                    [errorStateMatcher]="confirmValidParentMatcher" autocomplete="off">
                  <mat-error>
                    {{errors.confirmarPassword}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-4" (click)="getCaptcha()">
                <div *ngIf="!refreshCaptcha" [innerHtml]="captchaIcon"></div>
              </div>
              <button class="col-1 align-self-start" mat-icon-button color="primary" type="button" (click)="getCaptcha()">
                <mat-icon aria-label="captcha">cached</mat-icon>
              </button>
            </div>
            <div class="form-group">
              <mat-form-field class="col-6">
                <input matInput placeholder="Código Captcha" type="text" formControlName="captcha">
                <mat-error *ngIf="registroFormGroup.controls['captcha'].hasError('required')">
                  El captcha es Requerido
                </mat-error>
              </mat-form-field>
            </div>
          </fieldset>

          <div class="row justify-content-center">
            <button mat-button type="submit" [disabled]="!registroFormGroup.valid" color="primary">
              <mat-icon mat-list-icon>done</mat-icon>
              Aceptar
            </button>
            <button mat-button [routerLink]="['/auth/login']" color="warn">
              <mat-icon mat-list-icon>cancel</mat-icon>
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
