<div class="container">
  <div class="row justify-content-md-center mt-2">
    <mat-card class="col-md-6 m-1">
      <mat-card-header>
        <mat-card-title>Perfil de Usuario</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="mt-4">
        <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="usuario">
          <fieldset>
            <div class="form-group">
              <mat-form-field class="col">
                <input matInput placeholder="Nombre (*)" formControlName="nombre">
                <mat-error *ngIf="userForm.controls['nombre'].hasError('required')">
                  Nombre es
                  <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <img class="col-4 col-sm-4 col-md-12" *ngIf="!imagenTemp" [src]="usuario.avatar" style="height: 75px;">
                    <img class="col-4 col-sm-4 col-md-12" *ngIf="imagenTemp" [src]="imagenTemp" style="height: 75px;">
                  </div>
                  <div class="col-md-6">
                    <div>
                      <label for="">Selecione una imagen</label>
                    </div>
                    <button mat-button type="button" (click)="fileToUpload.click()" color="primary">
                      <mat-icon mat-list-icon>add_photo_alternate</mat-icon>
                      Imagen
                    </button>
                    <input #fileToUpload (change)="seleccionImage($event.target.files[0])" type="file" style="display:none;">
                  </div>
                </div>
              </div>

            </div>

            <div class="form-group">
              <mat-form-field class="col">
                <textarea matInput placeholder="Descripcion (*)" formControlName="descripcion"></textarea>
                <mat-hint> Ejemplo: Desarrollador de aplicaciones</mat-hint>
                <mat-error *ngIf="userForm.controls['descripcion'].hasError('required')">
                  La Descripcion es
                  <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="col">
                <input matInput placeholder="Pagina Web" formControlName="url">
                <mat-hint>Ejemplo: https//miPaginaWeb.com</mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="col">
                <input matInput placeholder="Email (*)" formControlName="email">
                <mat-error *ngIf="userForm.controls['email'].hasError('email') && !userForm.controls['email'].hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="userForm.controls['email'].hasError('required')">
                  Email is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <button mat-button (click)="showPass=!showPass" color="primary" class="mb-2">
              <mat-icon *ngIf="!showPass" mat-list-icon>add</mat-icon>
              <mat-icon *ngIf="showPass" mat-list-icon>keyboard_arrow_up</mat-icon>
              Cambiar Contraseña
            </button>
            <div *ngIf="showPass">
              <div class="form-group">
                <mat-form-field class="col">
                  <input matInput type="password" placeholder="Contraseña Actual" formControlName="password">
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="col">
                  <input matInput type="password" placeholder="Contraseña Nueva">
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="col">
                  <input matInput type="password" placeholder="Confirmar Contraseña">
                </mat-form-field>
              </div>
            </div>

          </fieldset>
          <div class="row justify-content-center">
            <button mat-button type="submit" [disabled]="!userForm.valid" color="primary">
              <mat-icon mat-list-icon>done</mat-icon>
              Guardar
            </button>
            <button mat-button (click)="next()" color="primary">
              <mat-icon mat-list-icon>next</mat-icon>
              Siguiente
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>