<!-- <hub-header></hub-header> -->
<ngx-loading-bar></ngx-loading-bar>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(54, 22, 24);">
    <div class="container-fluid">
        <p class="navbar-brand">CATALOGO SOFTWARE LIBRE</p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link" [routerLink]="['/login']">Acceder</a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="['/registro']">Regístrate</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="container">
  <div *ngIf="identity" class="row">
    <p>Estas logeado</p>
    b4-
  </div>

  <div class="row justify-content-md-center m-1" *ngIf="!identity">
    <div class="card bg-light col-md-6 col-sm-12" style="padding: 0;">
      <div class="card-header">
        <div class="row justify-content-center">
          <span>Iniciar Sesión</span>
        </div>
      </div>
      <div class="card-body">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <div class="col pb-3">
          <a (click)="loginGH()" class="btn btn-block btn-social btn-github">
            <i class="fa fa-github"></i> Entrar Con
            <strong>Github</strong>
          </a>
          <a (click)="loginGL()" class="btn btn-block btn-social btn-odnoklassniki">
            <i class="fa fa-gitlab"></i>Entrar Con
            <strong>Gitlab</strong>
          </a>
          <a (click)="loginBB()" class="btn btn-block btn-social btn-bitbucket">
            <i class="fa fa-bitbucket"></i>Entrar Con
            <strong>Bitbucket</strong>
          </a>
        </div>

        <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <mat-form-field class="col">
                <input matInput placeholder="email" formControlName="email">
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="col">
                <input type="password" matInput placeholder="Contraseña" formControlName="password">
              </mat-form-field>
            </div>
          </fieldset>
          <div class="col checkbox">

            <label>
              <input type="checkbox" value="remember-me"> Recuérdame
            </label>
          </div>
          <div class="col">
            <a href="#" class="">He olvidado mi contraseña</a>
          </div>

          <div class="col" *ngIf="errorMessage">
            <div class="alert alert-info" role="alert">
              <strong>Info</strong> {{errorMessage}}
            </div>
          </div>

          <div class="row justify-content-center">
            <button mat-button [disabled]="!loginForm.valid" type="submit" color="primary">
              <mat-icon mat-list-icon>done</mat-icon>
              Acceder
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
