<!-- <hub-header></hub-header> -->
<ngx-loading-bar></ngx-loading-bar>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(54, 22, 24); margin-bottom: 50px">
  <div class="container-fluid">
    <p class="navbar-brand">CATALOGO SOFTWARE LIBRE</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li>
          <a class="nav-link" [routerLink]="['/login']">Acceder</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/registro']">Regístrate</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div class="container">

  <div class="row justify-content-md-center m-1">
    <div class="card-login card bg-light col-md-6 col-sm-12" style="padding: 0;">
      <div class="card-header card-header-login">
        <div class="row justify-content-center">
          <span class="titulo-login">Iniciar Sesión</span>
        </div>
      </div>
      <div class="card-body card-body-login">
        <div class="pb-2">
          <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        </div>

        <div class="row justify-content-center">
          <div class="col-6
           pb-3">
            <button (click)="login('github')" class="btn btn-block btn-social btn-github">
              <i class="fa fa-github"></i>
              <span class="nombre-repo">Entrar Con</span>
              <strong class="nombre-repo">Github</strong>
            </button>
            <button *ngIf="gitlab" (click)="gitlab=!gitlab" class="btn btn-block btn-social btn-odnoklassniki">
              <i class="fa fa-gitlab"></i>
              <span class="nombre-repo">Entrar Con</span>
              <strong class="nombre-repo">Gitlab</strong>
            </button>
            <div *ngIf="!gitlab" class="pt-2 pb-2">
              <button (click)="login('gitlab')" class="btn btn-block btn-social btn-odnoklassniki">
                <i class="fa fa-gitlab"></i>
                <span class="nombre-repo">Entrar Con</span>
                <strong class="nombre-repo">Gitlab.com</strong>
              </button>
              <button (click)="login('gitlabGeo')" class="btn btn-block btn-social btn-odnoklassniki">
                <i class="fa fa-gitlab"></i>
                <span class="nombre-repo">Entrar Con</span>
                <strong class="nombre-repo">Gitlab.Geo</strong>
              </button>
            </div>
            <!-- <div class="dropdown" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-block btn-social btn-odnoklassniki dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-gitlab"></i>
                    <span class="nombre-repo">Entrar Con</span>
                    <strong class="nombre-repo">Gitlab          </strong>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="#">Dropdown link</a>
                  <a class="dropdown-item" href="#">Dropdown link</a>
                </div>
              </div> -->

            <button (click)="login('bitbucket')" class="btn btn-block btn-social btn-bitbucket">
              <i class="fa fa-bitbucket"></i>
              <span class="nombre-repo">Entrar Con</span>
              <strong class="nombre-repo">Bitbucket</strong>
            </button>
          </div>
        </div>

        <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <mat-form-field class="col">
                <input matInput placeholder="email" formControlName="email">
                <mat-error *ngIf="loginForm.controls['email'].hasError('email') && !loginForm.controls['email'].hasError('required')">
                  Ingrese un email valido
                </mat-error>
                <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                  Email es
                  <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="col">
                <input type="password" matInput placeholder="Contraseña" formControlName="password">
              </mat-form-field>
            </div>
          </fieldset>
          <!-- <div class="col checkbox">

            <label>
              <input type="checkbox" value="remember-me"> Recuérdame
            </label>
          </div> -->
          <!-- <div class="col">
            <a href="#" class="">He olvidado mi contraseña</a>
          </div> -->

          <!-- <div class="col" *ngIf="errorMessage">
            <div class="alert alert-warning" role="alert">
              <strong>Info</strong> {{errorMessage}}
            </div>
          </div> -->

          <div class="row justify-content-center">
            <button mat-button [disabled]="!loginForm.valid" type="submit" color="primary">
              <mat-icon mat-list-icon>done</mat-icon>
              Acceder
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
