<div class="container">
  <div class="row justify-content-md-center mt-2">
    <mat-card class="col-md-8 m-1">
      <mat-card-header>
        <mat-card-title>Repositorios de usuario</mat-card-title>
      </mat-card-header>
      <!-- Lista los repositorios -->
      <mat-card-content class="mt-4" *ngIf="showRepo">

        <table datatable [dtOptions]="dtOptions" class="table table-inverse table-responsive" *ngIf="repositorio">
          <thead class="thead-inverse">
            <tr>
              <th>Icono</th>
              <th>Proyectos</th>
              <th>Source</th>
              <th>Visibilidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let proy of repositorio.datos" (click)="proy.estado=!proy.estado" style="cursor: pointer" [ngClass]="{red: proy.estado==false}">
              <td scope="row">
                <img src="{{proy.avatar}}" alt="" height="30" width="30">
              </td>
              <td>
                <a target="#">{{proy.nombre}} </a>
              </td>
              <td>
                <img *ngIf="proy.tipo=='github'" src="assets/images/github.png" alt="" height="30" width="30">
                <img *ngIf="proy.tipo=='gitlab'" src="assets/images/gitlab.png" alt="" height="30" width="30">
                <img *ngIf="proy.tipo=='bitbucket'" src="assets/images/bitbucket.png" alt="" height="30" width="30">
              </td>

              <td *ngIf="proy.estado">
                <button mat-button (click)="proy.estado=!proy.estado" color="primary">
                  <mat-icon mat-list-icon>visibility</mat-icon>
                </button>
              </td>
              <td *ngIf="!proy.estado">
                <button mat-button (click)="proy.estado=!proy.estado" color="primary">
                  <mat-icon mat-list-icon>visibility_off</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </mat-card-content>

      <mat-card-content class="mt-4" *ngIf="!showRepo">
        <div class="row">
          <div class="col-md-7">
            <span *ngIf="!showRepo">
              Usted no cuenta con Repositorios
            </span>
            <span *ngIf="showRepo">
              Desea Adicionar Repositorios
            </span>
            <div>
              <button mat-button (click)="adicionarRepo()" color="primary">
                <mat-icon mat-list-icon>add</mat-icon>
                adicionar
              </button>
            </div>
            <span>
              o adicione una cuenta de:
            </span>
          </div>

          <div class="col-md-5">
            <button (click)="loginGH()" class="btn btn-block btn-social btn-github">
              <i class="fa fa-github"></i>
              <span class="nombre-repo">Entrar Con</span>
              <strong class="nombre-repo">Github</strong>
            </button>
            <button (click)="loginGL()" class="btn btn-block btn-social btn-odnoklassniki">
              <i class="fa fa-gitlab"></i>
              <span class="nombre-repo">Entrar Con</span>
              <strong class="nombre-repo">Gitlab</strong>
            </button>
            <button (click)="loginBB()" class="btn btn-block btn-social btn-bitbucket">
              <i class="fa fa-bitbucket"></i>
              <span class="nombre-repo">Entrar Con</span>
              <strong class="nombre-repo">Bitbucket</strong>
            </button>
          </div>
        </div>
        <mat-divider class="mt-2">
        </mat-divider>
        <div *ngIf="showAdd">
          <form novalidate [formGroup]="addForm" (ngSubmit)="onSubmit()" class="mt-4">
            <fieldset>
              <div class="form-group">
                <mat-form-field class="col">
                  <input matInput placeholder="Nombre del proyecto" formControlName="nombreRepo">
                  <mat-error *ngIf="addForm.controls['nombreRepo'].hasError('required')">
                    Nombre es
                    <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <!-- <img *ngIf="!imagenTemp" [src]="usuario.avatar" style="height: 150px;"> -->
                    <img *ngIf="imagenTemp" [src]="imagenTemp" style="height: 150px;">
                  </div>
                  <div class="col-md-8">
                    <div>
                      <label for="">Selecione una imagen</label>
                    </div>
                    <button mat-button type="button" (click)="fileToUpload.click()" color="primary">
                      <mat-icon mat-list-icon>add_photo_alternate</mat-icon>
                      Imagen
                    </button>
                    <input #fileToUpload (change)="seleccionImage($event.target.files[0])" type="file" style="display:none;">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <mat-form-field class="col">
                  <textarea matInput placeholder="Descripcion" formControlName="descripcionRepo"></textarea>
                  <mat-hint>Descripcion del repositorio</mat-hint>
                  <mat-error *ngIf="addForm.controls['descripcionRepo'].hasError('required')">
                    La Descripcion es
                    <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="col">
                  <input matInput placeholder="Direccion del proyecto" formControlName="urlRepo">
                  <mat-hint>Ejemplo: https://www.github.com/miUsuario/mi-proyecto</mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="col">
                  <input matInput [matDatepicker]="picker1" placeholder="Fecha de primer commit" formControlName="datePri">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="col">
                  <input matInput [matDatepicker]="picker2" placeholder="Fecha de ultimo commit" formControlName="dateUlt">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            </fieldset>
            <div class="row justify-content-center">
              <button mat-button [disabled]="!addForm.valid" (click)="guardarRepo()" color="primary">
                <mat-icon mat-list-icon>done</mat-icon>
                Guardar
              </button>
              <button mat-button (click)="showAdd=false" color="primary">
                <mat-icon mat-list-icon>cancel</mat-icon>
                Cancelar
              </button>
            </div>
          </form>
        </div>


        <div>

        </div>
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>
  </div>
</div>