<!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(54, 22, 24);">
    <div class="container-fluid">
        <p class="navbar-brand">CATALOGO SOFTWARE LIBRE</p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="nav-link" [routerLink]="['/login']">Acceder</a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="['/registro']">Regístrate</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<router-outlet></router-outlet>