<div class="container-fluid p-0" *ngIf='show'>
  <div class="col titulo_proyecto">
    <div class="row justify-content-between">
      <div class="col-3">
        <i class="fa fa-folder" aria-hidden="true">
          <span style="text-transform: uppercase;"> {{proyecto.nombre}}</span>
        </i>
      </div>
      <div class="col-1">
        <i class="fa fa-trash" aria-hidden="true"></i>
        <span class="enlaces" (click)="eliminarProyecto(proyecto)">Eliminar</span>
      </div>
    </div>
  </div>

  <div class="col mb-3">
    <div class="card-deck">
      <div class="card">
        <div class="card-header">
          <span>Resumen</span>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <i class="fa fa-book"></i>
              <span> Descripcion: </span>
            </div>
            <div class="col-md-7">
              <span>
                <span>{{proyecto.descripcion}}</span>
              </span>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-md-5">
              <i class="fa fa-archive"></i>
              <span> Categorias: </span>
            </div>
            <div class="col-md-7">
              <span>
                <span>{{proyecto.categorias}}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <span>Referencia</span>
        </div>
        <div class="card-body">
          <!-- <div class="row">
            <div class="col-sm-5">
              <span>Enlace del proyecto:</span>
            </div>
            <div class="col-sm-7">
              <a href="">{{proyecto.urlRepositorio}}</a>
            </div>
          </div> -->
          <!-- <div class="row">
            <div class="col-sm-5">
              <span>Ubicacion:</span>
            </div>
            <div class="col-sm-7">
              <a href="">{{proyecto.urlRepositorio}}</a>
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-5">
              <i class="fa fa-user-circle"></i>
              <span> Usuarios: </span>
            </div>
            <div class="col-md-7">
              <span *ngFor="let usuario of proyecto.usuarios">
                <a href="{{usuario.web_url}}" target="#">{{usuario}} ,</a>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <i class="fa fa-code"></i>
              <span>Commits: </span>
            </div>
            <div class="col-md-7">
              <span>{{proyecto.commits.length}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <i class="fa fa-calendar"></i>
              <span>Fecha Creacion: </span>
            </div>
            <div class="col-md-7">
              <span>{{proyecto.fechaCreacion}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <i class="fa fa-calendar"></i>
              <span> Ultima actividad: </span>
            </div>
            <div class="col-md-7">
              <span>{{proyecto.ultimaActividad}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <i class="fa fa-gitlab"></i>
              <span>Url:</span>
            </div>
            <div class="col-md-7" style=" word-wrap: break-word;">
              <a href="{{proyecto.urlRepositorio}}" target="#">{{proyecto.urlRepositorio}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col mb-3">
    <h4>Licencias</h4>
    <div class="row justify-content-md-center">
      <div class="col col-lg-5">
        <div class="card bg-light">
          <!-- <div class="card-header">GNU General Public Licence v2.0</div> -->
          <div class="card-body">
            <!-- <h4 class="card-title">Light card title</h4> -->
            <p class="card-text">GNU General Public Licence v2.0</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- <div class="col mb-3">
    <h4>Seguridad del Proyecto</h4>
    <div class="card-deck">
      <div class="card">
        <div class="card-header">
          <span>Vulnerabilidades por Version</span>
        </div>
        <div class="card-body">
          <span></span>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <span>Reporte de Vulnerabilidades</span>
        </div>
        <div class="card-body">
          <span></span>
        </div>
      </div>
    </div>
  </div> -->

  <div class="mb-3 ">
    <div class="card-deck">

      <div class="card" *ngIf="data$">
        <div class="card-body">
          <span>Commits</span>
          <line-chart class="chart" [config]="configRepo$" [data]="data$"></line-chart>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4>Lenguajes de programacion</h4>
          <!-- <pie-chart [data]="dataLenguajes$">
          </pie-chart> -->

          <chart-lenguajes [pieChartLabels]="pieChartLabels" [pieChartData]="pieChartData">
          </chart-lenguajes>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row mb-3 ml-0">
    <div class="col-4 pl-4">
      <h4>Lenguajes de programacion</h4>
      <chart-lenguajes>
      </chart-lenguajes>
    </div>
  </div> -->
</div>