<div class="container-fluid p-0" *ngIf='show'>
  <div class="col titulo_proyecto">
    <div class="row justify-content-between">
      <div class="col-3">
        <i class="fa fa-folder" aria-hidden="true">
          <span style="text-transform: uppercase;"> {{proyecto.nombre}}</span>
        </i>
      </div>
      <div class="col-1">
        <i class="fa fa-trash" aria-hidden="true"></i>
        <span class="enlaces" (click)="eliminarProyecto(proyecto)">Eliminar</span>
      </div>
    </div>
  </div>

  <div class="col mb-3">
    <div class="card-deck">
      <div class="card">
        <div class="card-header title-card">
          <span>Resumen</span>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-5 title-description">
              <i class="fa fa-book"></i>
              <span> Descripcion: </span>
            </div>
            <div class="col-md-7">
              <span>
                <span>{{proyecto.descripcion}}</span>
              </span>
            </div>
          </div>
          <br>
          <br>
          <!-- <div class="row">
            <div class="col-md-5 title-description">
              <i class="fa fa-archive"></i>
              <span> Categorias: </span>
            </div>
            <div class="col-md-7">
              <span>
                <span>{{proyecto.categorias}}</span>
              </span>
            </div>
          </div> -->
        </div>
      </div>
      <div class="card">
        <div class="card-header title-card">
          <span>Referencia</span>
        </div>
        <div class="card-body">
          <!-- <div class="row">
            <div class="col-sm-5">
              <span>Enlace del proyecto:</span>
            </div>
            <div class="col-sm-7">
              <a href="">{{proyecto.urlRepositorio}}</a>
            </div>
          </div> -->
          <!-- <div class="row">
            <div class="col-sm-5">
              <span>Ubicacion:</span>
            </div>
            <div class="col-sm-7">
              <a href="">{{proyecto.urlRepositorio}}</a>
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-5">
              <i class="fa fa-user-circle title-description"></i>
              <span> Usuarios: </span>
            </div>
            <div class="col-md-7">
              <span *ngFor="let usuario of proyecto.usuarios">
                <a href="{{usuario.web_url}}" target="#">{{usuario.nombre}} ,</a>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 title-description">
              <i class="fa fa-code"></i>
              <span>Commits: </span>
            </div>
            <div class="col-md-7">
              <span>{{proyecto.commits.length}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 title-description">
              <i class="fa fa-calendar"></i>
              <span>Fecha Creacion: </span>
            </div>
            <div class="col-md-7">
              <span>{{proyecto.fechaCreacion |fecha}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 title-description">
              <i class="fa fa-calendar"></i>
              <span> Ultima actividad: </span>
            </div>
            <div class="col-md-7">
              <span>{{proyecto.ultimaActividad |fecha}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 title-description">
              <i class="fa fa-link"></i>
              <span>Url:</span>
            </div>
            <div class="col-md-7" style=" word-wrap: break-word;">
              <a href="{{proyecto.urlRepositorio}}" target="#">{{proyecto.urlRepositorio}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col mb-3">
    <h4 class="title-repo">Licencias</h4>
    <div class="row justify-content-md-center">
      <div class="col col-lg-5">
        <div class="card bg-light">
          <!-- <div class="card-header">GNU General Public Licence v2.0</div> -->
          <div class="card-body">
            <!-- <h4 class="card-title">Light card title</h4> -->
            <p class="card-text">GNU General Public Licence v2.0</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- <div class="col mb-3">
    <h4>Seguridad del Proyecto</h4>
    <div class="card-deck">
      <div class="card">
        <div class="card-header">
          <span>Vulnerabilidades por Version</span>
        </div>
        <div class="card-body">
          <span></span>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <span>Reporte de Vulnerabilidades</span>
        </div>
        <div class="card-body">
          <span></span>
        </div>
      </div>
    </div>
  </div> -->

  <div class="mb-3 ">
    <div class="card-deck justify-content-md-center">

      <div class="card col-xl-6 col-md-12" *ngIf="dataRepo$">
        <div class="card-body">
          <span class="subtitle-repo">Commits</span>

          <div class="mt-3">
              <button mat-raised-button (click)="changeGraph('total')">General</button>
              <!-- <button mat-raised-button (click)="changeGraph('años')">Año</button> -->
              <button mat-raised-button (click)="changeGraph('mes')">Mes</button>
              <line-chart class="chart-commit" [config]="config$" [data]="dataRepo$"></line-chart>
            </div>

        </div>
      </div>
      <div class="card col-xl-4 col-md-12" *ngIf="lenguajes">
        <div class="card-body ">
          <span class="subtitle-repo">
            Lenguajes de programacion
          </span>
          <chart-lenguajes [pieChartLabels]="pieChartLabels" [pieChartData]="pieChartData">
          </chart-lenguajes>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <h4 class="title-repo pl-3">Historial de Desarrollo:</h4>
    <div class="card-deck justify-content-md-center">
      <div class="card col-xl-10" >
        <div class="card-body">
          <span class="subtitle-repo">Commits por repositorio</span>
          <div class="">
            <heat-map style="grid-template-rows: 20vh;" class="chart-commit" [dataCalendar]="dataCalendar$"></heat-map>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row mb-3 ml-0">
    <div class="col-4 pl-4">
      <h4>Lenguajes de programacion</h4>
      <chart-lenguajes>
      </chart-lenguajes>
    </div>
  </div> -->
</div>
