<form novalidate [formGroup]="groupForm">
  <mat-form-field class="col">
    <mat-select placeholder="Seleccione un Grupo" (selectionChange)="selectItem($event)">
      <mat-option>Ninguno</mat-option>
      <mat-option *ngFor="let grupo of grupoSearch" [value]="grupo">
        {{ grupo.nombre }}
      </mat-option>
    </mat-select>
    <mat-hint>
      EL proyecto se alojara en el Grupo seleccionado, en caso contrario en la cuenta del usuario 
    </mat-hint>
    <mat-error>
      Introducir un grupo valido
    </mat-error>
  </mat-form-field>
</form>
