<div class="container">
  <div class="row justify-content-md-center m-1">
    <div class="card card-catalogo bg-light col-md-6" [ngClass]="{'col-md-12': avanzado||showEntidades}">
      <div class="card-header card-header-catalogo">
        <span class="titulo-catalogo">
          Importar Proyecto
        </span>
      </div>
      <div class="container">
        <form novalidate [formGroup]="proyForm" (ngSubmit)="onSubmit()" *ngIf="showRepos">
          <div class="row">
            <div class="col">
              <div class="card-body">
                <fieldset>
                  <ng-container>
                    <div class="form-group">
                      <label class="col-form-label "> Selecione un proyecto de su repositorio </label>
                      <br>
                      <mat-form-field class="col">
                        <mat-select placeholder="Selecione uno de sus repositorios" (selectionChange)="setValuesRepo($event)">
                          <mat-option *ngFor="let data of repositorios" [value]="data">
                            {{ data.nombre }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="itemSelect">
                    <div class="form-group">
                      <!-- <label class="col-form-label "> Nombre </label>
                <br> -->
                      <mat-form-field class="col">
                        <input matInput placeholder="Nombre de Proyecto (*)" formControlName="nombre">
                        <mat-error *ngIf="proyForm.controls['nombre'].hasError('required')">
                          Nombre es
                          <strong>requerido</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="form-group">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-4">
                            <img class="col-4 col-sm-4 col-md-12" *ngIf="!imagenTemp" [src]="itemSelect.avatar |imagen:'proyecto'"
                              style="height: 75px;">
                            <img class="col-4 col-sm-4 col-md-12" *ngIf="imagenTemp" [src]="imagenTemp" style="height: 75px;">
                          </div>
                          <div class="col-md-6">
                            <div>
                              <label for="">Selecione una imagen</label>
                            </div>
                            <button mat-button type="button" (click)="fileToUpload.click()" color="primary">
                              <mat-icon mat-list-icon>add_photo_alternate</mat-icon>
                              Imagen
                            </button>
                            <input #fileToUpload (change)="seleccionImage($event.target.files[0])" type="file" style="display:none;">
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="form-group">
                      <!-- <label class="col-form-label ">Descripcion</label>
                <br> -->
                      <mat-form-field class="col">
                        <textarea matInput placeholder="Descripcion(*)" formControlName="descripcion" value="{{itemSelect.descripcion}}"></textarea>
                        <mat-hint>
                          Detalle una descripción del proyecto centrado en las caracteristicas
                          <br> Máximo 800 caracteres
                        </mat-hint>
                      </mat-form-field>
                    </div>

                    <div class="form-group">
                      <!-- <label class="col-form-label ">Categorias</label>
                <br> -->
                      <!-- //aqui -->
                      <hub-input-categorias [categorias]="categorias" (onCategorias)="setCategorias($event)">

                      </hub-input-categorias>
                    </div>
                    <div class="form-group">
                      <!-- <label class="col-form-label ">Usuarios</label>
                <br> -->
                      <hub-input-usuarios [usuario]="usuario" (onUsuarios)="setUsuarios($event)">

                      </hub-input-usuarios>
                    </div>
                    <div class="form-group">
                      <!-- <label class="col-form-label ">Institución</label>
                <br> -->
                      <div class="form-group" *ngIf="usuario.admin_grupo">
                        <hub-input-grupos [usuario]="usuario" (emitGrupo)="setGrupo($event)">
                        </hub-input-grupos>
                      </div>
                    </div>
                    <div class="form-group">
                      <!-- <label class="col-form-label ">Dirección del proyecto</label>
                <br> -->
                      <mat-form-field class="col">
                        <span matPrefix>{{dominio}}/</span>
                        <input matInput placeholder="Direccion URL" formControlName="urlRepositorio">
                        <mat-hint>
                          Si su proyecto estara publicado en esta dirección
                        </mat-hint>
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                      <mat-form-field class="col">
                        <input matInput placeholder="Version de Proyecto (*)" formControlName="version">
                        <mat-hint>
                          Version: Ejemplo: V0.0.1
                        </mat-hint>
                        <mat-error *ngIf="proyForm.controls['version'].hasError('required')">
                          Version es
                          <strong>requerido</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col">
                      <mat-checkbox [disabled]="true" [checked]="true">
                      </mat-checkbox>
                      <a class="">Licencia LPG-BOLIVIA</a>
                    </div>

                    <div class="col text-right">
                      <mat-checkbox class="enlaces" (change)="avanzado=!avanzado">
                        Opciones avanzadas
                      </mat-checkbox>
                    </div>
                  </ng-container>
                </fieldset>
              </div>
            </div>
            <div class="col" *ngIf="avanzado||showEntidades">
              <div class="card-body">
                <ng-container>
                  <hub-formulario-proyecto [entidades]="showEntidades" [avanzadas]="avanzado" [(data)]="data">

                  </hub-formulario-proyecto>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row justify-content-center" *ngIf="!request">
            <button mat-button [disabled]="!proyForm.valid" type="submit" color="primary">
              <mat-icon mat-list-icon>done</mat-icon>
              Guardar
            </button>
            <button mat-button routerLink="/proyectos" color="warn">
              <mat-icon mat-list-icon>cancel</mat-icon>
              Cancelar
            </button>
          </div>
          <div class="row justify-content-center" *ngIf="request">
            <hub-loading [data]="dataLoading">
            </hub-loading>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
