<div class="container" *ngIf="usuario">
  <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="tabChanged($event)">
    <mat-tab label="Mi Perfil">
      <hub-perfil (siguiente)="next($event)">
      </hub-perfil>
    </mat-tab>
    <!-- <mat-tab label="Mis Repositorios" [disabled]="showTabs">
      <hub-repositorio matTabContent (siguiente)="next($event)" *ngIf="selectedIndex==1">
      </hub-repositorio>
    </mat-tab> -->
    <mat-tab label="Mis Cuentas" [disabled]="showTabs">
      <hub-cuenta *ngIf="!showTabs">
      </hub-cuenta>
    </mat-tab>
    <!-- <mat-tab label="Eliminar Cuenta" [disabled]="showTabs">
      <hub-eliminar [usuario]="usuario" *ngIf="!showTabs">
      </hub-eliminar>
    </mat-tab> -->
    <mat-tab label="Solicitar Adminstracion de Grupo" [disabled]="showTabs">
      <hub-solicitudes *ngIf="selectedIndex==2">
      </hub-solicitudes>
    </mat-tab>
  </mat-tab-group>
</div>
