@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
  font-size: 14px;
}

.enlaces {
  font-size: 14px;
  color: #3f51b5;
  cursor: pointer;
}
.fa-star {
  color: #ffc058;
  font-size: 1.5em !important;
}
.fa-star-o {
  color: #ffc058;
  font-size: 1.5em !important;
}
