<div class="row">
  <div class="col-12 col-md-7" *ngIf="proyectos">
    <div class="title-description">
      <h4>Sus Proyectos en el repositorio estatal son:</h4>
    </div>
    <div class="col-auto col-12">
      <div class="table-responsive-md">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
          <thead class="thead-inverse">
            <tr>
              <th style="width: 150px">Proyecto</th>
              <th>Visibilidad</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let proyecto of proyectos">
              <td scope="row">
                <a target="#" href="{{dominio}}/{{proyecto.path}}">
                  {{proyecto.path}}
                </a><br>
                <p class="mb-0" mat-line> {{proyecto.descripcion }} </p>

              </td>
              <td class="text-center">
                <ng-container>
                  {{proyecto.visibilidad}}
                </ng-container>
              </td>
              <td class="p-0">
                <div class="row justify-content-center">
                  <ng-container class="col">
                    <button mat-icon-button (click)="editar(proyecto)" color="primary" matTooltip="Editar Proyecto">
                      <mat-icon mat-list-icon>edit</mat-icon>
                    </button>
                  </ng-container>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="col-12 col-md-5" *ngIf="grupos">
    <div class="title-description">
      <h4>Sus Grupos en el repositorio estatal son:</h4>
    </div>
    <div class="col-12">
      <div class="table-responsive-md">
        <table datatable [dtOptions]="dtOptions" class="table">
          <thead class="thead-inverse">
            <tr>
              <th>Grupo</th>
              <th>Visibilidad</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let grupo of grupos">
              <td scope="row">
                <div class="container">
                  <div class="row">
                    <a target="#" href="{{dominio}}/{{grupo.path}}">
                      {{grupo.nombre}}
                    </a>

                  </div>
                </div>
                <p class="mb-0" mat-line> {{grupo.descripcion }} </p>

                <!-- <mat-chip>{{proyecto.UsuarioProyecto.nombre_permiso}}</mat-chip> -->
              </td>
              <td class="text-center">
                <p mat-line> {{grupo.visibilidad}} </p>
              </td>
              <td>
                <div class="row justify-content-center">
                  <mat-chip-list *ngIf="grupo.UsuarioGrupo.admin==true" class="">
                    <mat-chip class="p-1" selected="true" [color]="primary">
                      Administrador
                    </mat-chip>
                  </mat-chip-list>
                  <div class="col" *ngIf="grupo.UsuarioGrupo.admin!=true">
                    <button class="text-left" mat-icon-button (click)="salir(grupo)" color="warn" style="margin-top: -10px"
                      matTooltip="Salir del grupo">
                      <mat-icon mat-list-icon>exit_to_app</mat-icon>Salir
                    </button>
                    <hub-button-loading [request]="grupo.request">
                    </hub-button-loading>
                  </div>
                  <!-- <hub-button-loading class="col" [request]="proyecto.request">
                  </hub-button-loading> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
