<mat-form-field class="col">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let categoria of categorias" [selectable]="selectable" [removable]="removable" (remove)="remove(categoria)">
      {{categoria.nombre}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input #categoriaInput placeholder="Categorias" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" matInput [matAutocomplete]="auto"
      [formControl]="myControl" />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addSelect($event)">
    <mat-option *ngFor="let item of filteredOptions|async" [value]="item">
      {{ item.nombre }}
    </mat-option>
  </mat-autocomplete>
  <mat-hint>
    Detalle una categoria del proyecto centrado en las caracteristicas
  </mat-hint>
</mat-form-field>
