<form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="col-md-4 col-12">
    <input matInput placeholder="Usuario" [matAutocomplete]="auto" formControlName="nombre">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of usuariosSearch" [value]="item.nombre">
        {{ item.nombre }}
      </mat-option>
    </mat-autocomplete>
    <mat-hint>
      Buscar un usuario
    </mat-hint>

  </mat-form-field>
  <mat-form-field class="col-md-2 col-12">
    <mat-select placeholder="Permiso(*)" formControlName="permiso">
      <mat-option *ngFor="let permiso of permisosUsuario" [value]="permiso">
        {{ permiso.nombre }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="userForm.hasError('required')">Escoja una opción</mat-error>
  </mat-form-field>
  <button mat-icon-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!userForm.valid" matTooltip="Adiciona Usuario">
    <mat-icon aria-label="addicona">add</mat-icon>
  </button>
</form>
